.agency-container .orange {
  color: orange;
}

.agency-container h2 {
  padding-top: 2%;
  padding-left: 5%;
  margin-bottom: 0;
}

.agency-container h4 {
  margin-top: 0;
  padding-left: 5%;
}

.agency-container .info-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.agency-container .info-row h4{
  color: black;
  font-family:'Times New Roman', Times, serif;
}

.agency-container .agency-image {
  width: 400px;
  height: auto;
  padding-right: 5%;
  padding-bottom: 20px;
}
