.orange {
    color: orange;
}

h2 {
    padding-top: 2%;
    padding-left: 5%;
    margin-bottom: 0;
    /* Remove any default margin */
}

h4 {
    margin-top: 0;
    /* Remove any default margin */
    padding-left: 5%;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.agency-image {
    width: 400px;
    height: auto;
    padding-right: 5%;
    padding-bottom: 20px;
}