.h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

header {
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
header img {
  filter: brightness(70%);
}

nav ul.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-left: 100px;
}

nav ul.main-nav h1,
nav ul.main-nav h2,
nav ul.main-nav h3 {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-left: 100px;
  align-items: center;
}

header nav ul h1,
header nav ul h2,
header nav ul h3 {
  margin: top 15px;
}

header nav ul h1 li,
header nav ul h2 li {
  margin-right: 20px;
}

header nav ul h3 li {
  margin-right: 5px;
}

header nav ul h2,
header nav ul h3 {
  display: flex;
  list-style: none;
  margin-left: 400px;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}
header .write h1 {
  padding-left: 100px;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  margin-bottom: 0px;
}

header .write h3 {
  padding-left: 100px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0px;
}

header .write ul li {
  flex: 0 0 calc(33.33% - 10px);
  list-style-type: none;
}

header .button {
  background-color: #737375;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin-left: 150px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

header .button .link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header .button .link:hover {
  color: black;
}

header .button:hover {
  background-color: #f9f9fa;
}
