
.h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

header {
  background-size: cover;
  height: 450px;
  position: relative;
  color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
header img{
    filter: brightness(70%);
}

header .container {
  display: flex;
  align-items: center;
  padding-left: 300px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-left: 300px;
  align-items: center;
}

header nav ul h1,
header nav ul h2,
header nav ul h3 {
  margin: top 15px;;
}

header nav ul h1 li,
header nav ul h2 li {
  margin-right: 20px;
}

header nav ul h3 li{
  margin-right: 5px;
}

header nav ul h2,
header nav ul h3{
  display: flex;
  list-style: none;
  margin-left: 100px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}
header .write h1{
  padding-left: 300px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 15px;
}

header .write ul li{
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 5px;
  list-style-type: none;
}