.single-flight-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  background-color: #fff;
  font-size: clamp(0.7em, 1vw, 1em);
}

.carrier-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.carrier-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.carrier-summary img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.flight-times {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.summary {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  .summary {
    gap: 10px;
  }
  .details-button {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 849px) {
  .summary {
    gap: 20px;
  }
  .details-button {
    width: 90%;
  }
}

@media screen and (min-width: 850px) {
  .summary {
    gap: 60px;
  }
  .details-button {
    width: 10%;
  }
}

.time-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 1.2em;
  font-weight: bold;
}

.airport-code {
  color: #666;
}

.separator {
  color: #0071c2;
  font-size: 0.9em;
  font-weight: bold;
}

.duration {
  font-size: 0.9em;
  color: #666;
}

.price-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  flex: 1;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.details-button {
  padding: 10px 15px;
  background-color: #8c2dda;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.details-button:hover {
  background-color: #9846db;
}

@media (min-width: 768px) {
  .single-flight-data {
    flex-direction: row;
  }

  .price-actions {
    align-items: flex-end;
  }
}
